* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    display: grid;
    place-items: center;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: 'GreatLakesNF';
    src: url('../fonts/GreatLakesNF.ttf');
  }
.header {
    width: 1600px;
    height: 1000px;
    background-image: url(../img/banner.jpg);
    padding: 50px 100px 0px;
}
.nav {
    width: 1400px;
    height: auto;
    padding: 0px 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo, .menu_nav {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 200px;
    height: 80px;
    background-color: black;
    font-size: 35px;
}
.logo a {
    color: white;
}
.menu_nav {
    width: 50px;
    height: 36px;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    font-size: 15px;
}
.menu_nav a {
    text-decoration: none;
    color: white;
}
.block_title {
    padding-top: 200px;
    width: 100%;
    height: 626px;
    text-align: right;
    color: white;
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding-right: 80px;
}
.title_text {
    font-weight: 100;
    font-size: 220px;
    letter-spacing: 15px;
    line-height: 170px;
}
.description_text {
    padding-right: 18px;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 64px;
}
.radio {
    width: 100%;
    height: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio input[type="radio"] {
    margin-right: 24px;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.radio input[type="radio"]:checked {
    background-color: #fff;
}
.about {
    width: 1600px;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.about_description {
    width: 970px;
}
.about_description h2 {
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 7px;
}
.about_description h3 {
    font-size: 60px;
    margin-bottom: 30px;
}
.about_description p:nth-child(3) {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50px;
}
.about_description hr {
    margin: auto;
    width: 80px;
    height: 4px;
    background-color: #000;
    margin-bottom: 60px;
}
.about_description p:nth-child(5), 
.about_description p:nth-child(6) {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
}
.slide {
    width: 1600px;
    height: 650px;
    background-color: #ffe9e2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container_slide {
    width: 50%;
    padding: 0 100px;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    line-height: 50px;
}
.container_slide h3 {
    margin-top: 75px;
}
.container_slide span {
    margin-top: 55px;
}
.slide_radio {
    width: 100%;
}
.slide_radio input[type="radio"] {
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #949088;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-right: 4px;
}
.slide_radio input[type="radio"]:checked {
    background-color: #949088;
}
.category {
    padding: 120px 100px;
    width: 1600px;
    height: 1160px;
}
.category_items {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container_category {
    width: 100%;
}
.container_category h1 {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 45px;
}
.container_category hr {
    width: 80px;
    height: 4px;
    background-color: #000;
}
.container_items {
    width: 700px;
    height: 285px;
    border: 1px solid #d8d8d8;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container_items h4 {
    font-size: 30px;
    text-transform: uppercase;
}
.container_items p {
    font-weight: 500;
    font-size: 25px;
}
.container_items span {
    font-weight: 500;
    font-size: 25px;
    font-style: italic;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container_category button {
    margin-top: 60px;
    width: 280px;
    height: 60px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    transition: width 0.2s ease-out, background-color 0.2s;
}
.container_category button:hover {
    width: 290px;
}
.event {
    width: 1600px;
    height: 660px;
    background-image: url(../img/Layer\ 6.png);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.event_container {
    color: #fff;
}
.event_container h4{
    font-size: 60px;
    margin-bottom: 80px;
}
.event_container p{
    font-size: 20px;
    margin-bottom: 20px;
}
.event_container a {
    color: #fff;
    border-bottom: 2px solid rgb(189, 189, 189);
}
.gallery {
    width: 1600px;
    padding: 80px 100px 100px;
}
.gallery h1 {
    font-size: 60px;
    margin-bottom: 45px;
}
.gallery hr {
    width: 80px;
    height: 4px;
    background-color: #000;
    margin-bottom: 60px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 50px;
}
.photo1 {
    background-image: url(../img/Layer\ 1.png);
    width: 560px;
    height: 760px;
    text-transform: uppercase;
    grid-row: 1 / span 2;
    font-family: 'TW Cen MT Condensed', sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: white;
    line-height: 100px;
    letter-spacing: 3px;
    padding: 30px;
    transition: box-shadow 0.5s;
}
.photo1:hover {
    box-shadow: 0px 0px 50px 20px#d8d4c9;
}
.photo1_content {
    margin-top: 120px;
    text-align: center;
}
.content_item {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    font-size: 16px;
}
.content_item a{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    color: white;
}
.photo2 {
    background-image: url(../img/Layer\ 2.png);
    margin-left: 20px;
    width: 740px;
    height: 370px;
    padding: 20px;
    grid-column: 2 / span 3;
    padding: 90px 78px;
    transition: box-shadow 0.5s;
}
.photo2:hover {
    box-shadow: 0px 0px 50px 20px#d8d4c9;
}
.photo2 p{
    font-family: 'Times New Roman', sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
}
.photo2 span{
    font-family: Georgia, sans-serif;
    font-size: 20px;
}
.photo3 {
    background-image: url(../img/Layer\ 3.png);
    margin-left: 20px;
    width: 330px;
    height: 340px;
    padding: 20px;
    transition: box-shadow 0.5s;
    font-family: 'GreatLakesNF', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.photo3:hover {
    box-shadow: 0px 0px 50px 20px#d8d4c9;
}
.photo4 {
    background-image: url(../img/Layer\ 5.png);
    width: 330px;
    height: 340px;
    padding: 20px;
    grid-column: 3;
    transition: box-shadow 0.5s;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.photo4 :first-child {
    font-size: 30px;
    font-weight: 700;
}
.photo4 :last-child {
    font-size: 37px;
    font-weight: 900;
}
.photo4:hover {
    box-shadow: 0px 0px 50px 20px#d8d4c9;
}
.gallery button {
    margin-top: 60px;
    width: 280px;
    height: 60px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 3px;
    transition: width 0.2s ease-out, background-color 0.2s;
}
.gallery button:hover {
    width: 290px;
}
.contact {
    width: 1600px;
    padding: 0 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.contact_item {
    padding: 30px 0;
    height: 300px;
    font-family: 'Montserrat', sans-serif;
}
.contact_item h5, .subscribe h5 {
    text-transform: uppercase;
    font-size: 20px;
}
.list{
    margin-top: 50px;
    list-style: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3px;
}
.list li {
    margin-top: 15px;
}
.list a{
    color: black;
}
.contact_item p {
    margin-top: 45px;
    list-style: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 30px;
}
.contact :first-child {
    width: 320px;
}
.contact :nth-child(2) {
    width: 320px;
}
.contact :nth-child(3) {
    width: 440px;
}
.email input {
    margin-top: 30px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #e6e5e5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 15px;
}
.contact_item input:focus {
    outline: none;
    border-color: #b9b9b9;
}
.subscribe button {
    margin-top: 15px;
    width: 130px;
    height: 40px;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 3px;
    transition: width 0.2s ease-out, background-color 0.2s;
}
.subscribe {
    width: 320px;
    padding: 30px 0;
    height: 300px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.subscribe p {
    margin-top: 20px;
}
footer {
    width: 1600px;
    padding: 25px 100px 25px;
    font-family: 'Montserrat';
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social a {
    margin-left: 20px;
}
